<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE> </TITLE>
	<META NAME="GENERATOR" CONTENT="OpenOffice.org 2.4  (Linux)">
	<META NAME="AUTHOR" CONTENT="Richard Thomas">
	<META NAME="CREATED" CONTENT="20090220;14490000">
	<META NAME="CHANGEDBY" CONTENT="Richard Thomas">
	<META NAME="CHANGED" CONTENT="20090220;14490000">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-right: 1.25in; margin-top: 1in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
		P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
		P.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
		H1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: center; widows: 2; orphans: 2 }
		H1.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
		H1.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
		H1.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
		A:link { color: #0000ff }
		A:visited { color: #800080 }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" VLINK="#800080" DIR="LTR">
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="" CLASS="western" STYLE="margin-bottom: 0in"><SPAN ID="Frame1" DIR="LTR" STYLE="float: left; width: 4.76in; height: 7.63in; border: 1px solid #000000; padding: 0.05in 0.1in; background: #ffffff">
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<H1 CLASS="western">Please Update Your Directory Listing</H1>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in">
	Dear $firstname $lastname <br/>
	We are currently
	updating company information for the 21<SUP>st</SUP> Edition of the
	<I>Card Industry</I> <I>Directory</I>, the annual, comprehensive
	guide to the North American payments industry.  Please take a moment
	and click on the link below to fill out the survey form so that we
	may accurately update your <B>free</B> listing.
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in">This information will
	also be used to update your company profile on <B>PaymentsSource.com</B>,
	a new, web based information source introduced last year.  This
	unique site is the industry’s largest online repository of data.
	The site also aggregates all of the payments related news and
	analysis from SourceMedia’s publications including <I>CardLine</I>,
	<I>ATM &amp; Debit News</I>, <I>Cards&amp;Payments,</I> <I>American
	Banker, US Banker and more</I><B>.</B>  In addition to your company
	profile, your company will appear in numerous industry rankings that
	will be seen by other industry executives and decision-makers.
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in">We appreciate your
	help making these payments products as accurate as possible.
	<B>Remember, there is no charge to be included and no obligation to
	purchase anything. </B>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in">If you are not the
	appropriate person to complete this survey, please forward it to the
	correct person or send the correct persons contact information to:
	<FONT COLOR="#0000ff"><U><A HREF="mailto:CIDSurvey@SourceMedia.com">CIDSurvey@SourceMedia.com</A></U></FONT>

	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"> Thanks.</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">Link
	to survey site:</FONT></P>
</SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_m1e296cd.png" NAME="graphics1" ALIGN=BOTTOM WIDTH=150 HEIGHT=70 BORDER=0></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="" CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in">
<FONT COLOR="#000000"><IMG SRC="CIDemail_html_m28e1c7d1.png" NAME="graphics2" WIDTH=180 HEIGHT=23 BORDER=1></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_7f9ab668.png" NAME="graphics3" ALIGN=BOTTOM WIDTH=180 HEIGHT=27 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_m3d740e82.png" NAME="graphics4" ALIGN=BOTTOM WIDTH=108 HEIGHT=31 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_m2f70b2c0.png" NAME="graphics5" ALIGN=BOTTOM WIDTH=144 HEIGHT=23 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_77e4667d.jpg" NAME="graphics6" ALIGN=BOTTOM WIDTH=144 HEIGHT=54 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_m4432b73e.png" NAME="graphics7" ALIGN=BOTTOM WIDTH=120 HEIGHT=28 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_bf80800.png" NAME="graphics8" ALIGN=BOTTOM WIDTH=107 HEIGHT=69 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_6a9d4cf4.jpg" NAME="graphics9" ALIGN=BOTTOM WIDTH=144 HEIGHT=54 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_me72fffb.jpg" NAME="graphics10" ALIGN=BOTTOM WIDTH=144 HEIGHT=54 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><IMG SRC="CIDemail_html_m65ef6dbe.png" NAME="graphics11" ALIGN=BOTTOM WIDTH=120 HEIGHT=34 BORDER=0></P>
<P CLASS="western" STYLE="margin-left: -0.25in; margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>